<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 自动扫描（根据注解，自动注入相应Bean） -->
	<context:component-scan base-package="org.neusoft.neubbs" />

	<!-- 导入全部配置文件（不能在单独配置文件内,分别声明bean注入，Spring仅能有1个PropertyPlaceholderConfigurer ） -->
	<context:property-placeholder location="classpath*:*.properties"/>

	<!-- 导入 spring-redis-context.xml 配置文件 -->
	<import resource="classpath:spring-mybatis-context.xml" />

	<!-- 导入 spring-redis-context.xml 配置文件 -->
	<import resource="classpath:spring-redis-context.xml" />
</beans>