<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.neusoft.neubbs.dao.ITopicContentDAO">
   <resultMap id="TopicContentMap" type="org.neusoft.neubbs.entity.TopicContentDO">
      <id column="ftc_id" property="id" javaType="Integer" jdbcType="INTEGER" />
      <result column="ft_id" property="topicid" javaType="Integer" jdbcType="INTEGER" />
      <result column="ftc_content" property="content" javaType="String" jdbcType="VARCHAR" />
      <result column="ftc_read" property="read" javaType="Integer" jdbcType="INTEGER" />
      <result column="ftc_like" property="like" javaType="Integer" jdbcType="INTEGER" />
   </resultMap>

   
   <insert id="saveTopicContent" parameterType="org.neusoft.neubbs.entity.TopicContentDO">
      INSERT INTO forum_topic_content (ft_id, ftc_content)
      VALUES (#{topicid, jdbcType = INTEGER}, #{content, jdbcType = VARCHAR})
   </insert>

   <delete id="removeTopicContentByTopicId" parameterType="java.lang.Integer">
      DELETE FROM forum_topic_content WHERE ft_id = #{param1, jdbcType = INTEGER}
   </delete>


   <select id="getTopicContentByTopicId" parameterType="java.lang.Integer" resultMap="TopicContentMap">
      SELECT ftc_id, ft_id, ftc_content, ftc_read, ftc_like
      FROM forum_topic_content WHERE ft_id = #{param1, jdbcType = INTEGER}
   </select>

   <update id="updateContentByTopicId">
      UPDATE forum_topic_content SET ftc_content = #{param2, jdbcType = VARCHAR}
      WHERE ft_id = #{param1, jdbcType = INTEGER}
   </update>
   <update id="updateReadAddOneByTopicId" parameterType="java.lang.Integer">
      UPDATE forum_topic_content SET ftc_read = ftc_read + 1
      WHERE ft_id = #{param1, jdbcType =INTEGER}
   </update>
   <update id="updateLikeAddOneByTopicId" parameterType="java.lang.Integer">
      UPDATE forum_topic_content SET ftc_like = ftc_like + 1
      WHERE ft_id = #{param1, jdbcType =INTEGER}
   </update>
   <update id="updateLikeCutOneByTopicId" parameterType="java.lang.Integer">
      UPDATE forum_topic_content SET ftc_like = ftc_like - 1
      WHERE ft_id = #{param1, jdbcType =INTEGER}
   </update>
</mapper>

