<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.neusoft.neubbs.dao.ITopicReplyDAO">
   <resultMap id="TopicReplyMap" type="org.neusoft.neubbs.entity.TopicReplyDO">
      <id column="ftr_id" property="id" javaType="Integer" jdbcType="INTEGER" />
      <result column="fu_id" property="userid" javaType="Integer" jdbcType="INTEGER" />
      <result column="ft_id" property="topicid" javaType="Integer" jdbcType="INTEGER" />
      <result column="ftr_content" property="content" javaType="String" jdbcType="VARCHAR" />
      <result column="ftr_agree" property="agree" javaType="Integer" jdbcType="INTEGER" />
      <result column="ftr_oppose" property="oppose" javaType="Integer" jdbcType="INTEGER" />
      <result column="ftr_createtime" property="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
   </resultMap>

   
   <insert id="saveTopicReply" parameterType="org.neusoft.neubbs.entity.TopicReplyDO" useGeneratedKeys="true" keyProperty="ftr_id">
      INSERT INTO forum_topic_reply (fu_id, ft_id, ftr_content)
      VALUES (#{userid, jdbcType = INTEGER},
              #{topicid, jdbcType = INTEGER},
              #{content, jdbcType = VARCHAR})
      <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
         SELECT LAST_INSERT_ID() AS ftr_id
      </selectKey>
   </insert>

   <delete id="removeTopicReplyById" parameterType="java.lang.Integer">
      DELETE FROM forum_topic_reply WHERE ftr_id = #{param1, jdbcType = INTEGER}
   </delete>
   <delete id="removeTopicAllReplyByTopicId" parameterType="java.lang.Integer">
      DELETE FROM forum_topic_reply WHERE ft_id = #{param1, jdbcType = INTEGER}
   </delete>

   <select id="countReply" resultType="java.lang.Integer">
      SELECT COUNT(ftr_id) FROM forum_topic_reply;
   </select>
   <select id="countReplyByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      SELECT COUNT(ftr_id) FROM forum_topic_reply WHERE fu_id = #{param1, jdbcType = INTEGER}
   </select>

   <select id="getMaxTopicReplyId" resultType="java.lang.Integer">
      SELECT MAX(ftr_id) FROM forum_topic_reply;
   </select>
   <select id="getTopicReplyById" parameterType="java.lang.Integer" resultMap="TopicReplyMap">
      SELECT ftr_id, fu_id, ft_id, ftr_content, ftr_agree, ftr_oppose, ftr_createtime
      FROM forum_topic_reply WHERE ftr_id = #{param1, jdbcType = INTEGER}
   </select>
   <select id="listTopicReplyByTopicId" parameterType="java.lang.Integer" resultMap="TopicReplyMap">
      SELECT ftr_id, fu_id, ft_id, ftr_content, ftr_agree, ftr_oppose, ftr_createtime
      FROM forum_topic_reply WHERE ft_id = #{param1, jdbcType = INTEGER}
   </select>

   <update id="updateContentByIdByContent">
      UPDATE forum_topic_reply SET ftr_content = #{param2, jdbcType = VARCHAR}
      WHERE ftr_id = #{param1, jdbcType = INTEGER}
   </update>
   <update id="updateAgreeAddOneById">
      UPDATE forum_topic_reply SET ftr_agree = ftr_agree + 1
      WHERE ftr_id = #{param1, jdbcType = INTEGER}
   </update>
   <update id="updateAgreeCutOneById">
      UPDATE forum_topic_reply SET ftr_agree = ftr_agree - 1
      WHERE ftr_id = #{param1, jdbcType = INTEGER}
   </update>
   <update id="updateOpposeAddOneById">
      UPDATE forum_topic_reply SET ftr_oppose = ftr_oppose + 1
      WHERE ftr_id = #{param1, jdbcType =INTEGER}
   </update>
   <update id="updateOpposeCutOneById">
      UPDATE forum_topic_reply SET ftr_oppose = ftr_oppose - 1
      WHERE ftr_id = #{param1, jdbcType =INTEGER}
   </update>
</mapper>

