<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.neusoft.neubbs.dao.IUserDAO">
    <resultMap id="UserMap" type="org.neusoft.neubbs.entity.UserDO">
        <id column="fu_id" property="id" javaType="Integer" jdbcType="INTEGER" />
        <result column="fu_name" property="name" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_password" property="password" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_sex" property="sex" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_birthday" property="birthday" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_phone" property="phone" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_email" property="email" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_address" property="address" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_rank" property="rank" javaType="String" jdbcType="VARCHAR" />

        <!-- 设置 DATE 会丢失h:m:s精度 -->
        <result column="fu_createtime" property="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>


    <insert id="saveUser" parameterType="org.neusoft.neubbs.entity.UserDO" useGeneratedKeys="true" keyProperty="fu_id">
        INSERT INTO forum_user (fu_name,fu_password,fu_email)
        VALUES (#{name, jdbcType = VARCHAR},
                #{password, jdbcType = VARCHAR},
                #{email, jdbcType = VARCHAR})
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER"><!-- id from UserDO , After Do-->
            SELECT LAST_INSERT_ID() AS fu_id
        </selectKey>
    </insert>

    <delete id="removeUserById" parameterType="java.lang.Integer">
        DELETE FROM forum_user WHERE fu_id = #{id, jdbcType = INTEGER}
    </delete>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap="UserMap">
        SELECT fu_id,fu_name,fu_password,fu_sex,fu_birthday,fu_phone,fu_email,fu_address,fu_rank,fu_createtime
        FROM forum_user WHERE fu_id = #{id, jdbcType = INTEGER};
    </select>
    <select id="getUserByName" parameterType="java.lang.String" resultMap="UserMap">
        SELECT fu_id,fu_name,fu_password,fu_sex,fu_birthday,fu_phone,fu_email,fu_address,fu_rank,fu_createtime
        FROM forum_user WHERE fu_name = #{name, jdbcType = VARCHAR};
    </select>
    <select id="getAllAdminUser" resultMap="UserMap"><!-- <![CDATA[ ]]>内容会被解析器忽略 -->
        <![CDATA[
               SELECT fu_id,fu_name,fu_password,fu_sex,fu_birthday,fu_phone,fu_email,fu_address,fu_rank,fu_createtime
                 FROM forum_user WHERE fu_rank = 'admin';
            ]]>
    </select>
    <select id="getAssignDateRegisterUserByYearMonth" resultMap="UserMap">
        SELECT fu_id,fu_name,fu_password,fu_sex,fu_birthday,fu_phone,fu_email,fu_address,fu_rank,fu_createtime
        FROM forum_user
        WHERE YEAR(fu_createtime) = #{param1, jdbcType = INTEGER} AND MONTH(fu_createtime) = #{param2, jdbcType = INTEGER};
    </select>
    <select id="getAllUser" resultMap="UserMap">
        SELECT fu_id,fu_name,fu_password,fu_sex,fu_birthday,fu_phone,fu_email,fu_address,fu_rank,fu_createtime
        FROM forum_user;
    </select>

    <update id="updateUserPasswordByName">
        UPDATE forum_user SET fu_password = #{param2, jdbcType = VARCHAR}
        WHERE fu_name = #{param1, jdbcType = VARCHAR}
    </update>
    <update id="updateUserRankByName">
        UPDATE forum_user SET fu_rank = #{param2, jdbcType = VARCHAR}
        WHERE fu_name = #{param1, jdbcType = VARCHAR}
    </update>
    <update id="truncateUserTable"><!-- 删减表 -->
        TRUNCATE TABLE ${tableName}
    </update>
</mapper>
