<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 论坛User表映射文件 -->
<mapper namespace="org.neusoft.neubbs.dao.IUserDAO" ><!--指定DAO接口-->
    <!-- ************************************************1.定义************************************************ -->
    <resultMap id="UserResultMap" type="org.neusoft.neubbs.entity.UserDO" ><!-- 结果集 -->
        <id column="fu_id" property="id" javaType="int" jdbcType="INTEGER" />
        <result column="fu_name" property="name" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_password" property="password" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_sex" property="sex" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_birthday" property="birthday" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_phone" property="phone" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_email" property="email" javaType="String" jdbcType="VARCHAR" />
        <result column="fu_address" property="address" javaType="String" jdbcType="VARCHAR" />

        <!--注册时间,设置DATE会丢失hms精度-->
        <result column="fu_createtime" property="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="UserColumnName" >
        fu_id,fu_name,fu_password,fu_sex,fu_birthday,fu_phone,fu_email,fu_address,fu_createtime
    </sql>



    <!-- ************************************************2.数据操作(增删查改)************************************************ -->
    <insert id="saveUserByUser" parameterType="org.neusoft.neubbs.entity.UserDO">
        INSERT INTO forum_user(fu_name,fu_password,fu_email)
        VALUES (#{name,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR})
    </insert>


    <delete id="removeUserById" parameterType="java.lang.Integer" >
        DELETE FROM forum_user WHERE fu_id = #{id,jdbcType=INTEGER}
    </delete>


    <select id="getUserById" parameterType="java.lang.Integer" resultMap="UserResultMap"  >
        SELECT <include refid="UserColumnName" /> FROM forum_user
        WHERE fu_id = #{id,jdbcType=INTEGER}
    </select>


    <update id="updateUserByUser" parameterType="org.neusoft.neubbs.entity.UserDO" >
        UPDATE forum_user
        <set >
            <if test="name != null" >fu_name = #{name,jdbcType=VARCHAR},</if>
            <if test="password != null" >fu_password = #{password,jdbcType=VARCHAR},</if>
            <if test="sex != null" >fu_sex = #{sex,jdbcType=VARCHAR},</if>
            <if test="birthday != null" >fu_birthday = #{birthday,jdbcType=VARCHAR},</if>
            <if test="phone != null" >fu_phone = #{phone,jdbcType=VARCHAR},</if>
            <if test="email != null" >fu_email = #{email,jdbcType=VARCHAR},</if>
            <if test="address != null" >fu_address = #{address,jdbcType=VARCHAR},</if>
        </set>
        WHERE fu_id = #{id,jdbcType=INTEGER}
    </update>

    <update id="truncateUserTable">
        TRUNCATE TABLE ${tableName} <!--传入表名要用$-->
    </update>
</mapper>