{
  "presets": [
    [
      "env",
      {
        "modules": false
      },
    ],
    "react",
    "stage-1"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  },
  "plugins": ["babel-plugin-styled-components"]
}
