<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>neubbs</display-name>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <!-- SSM框架默认配置 -->
    <context-param>
        <param-name>contextConfigLocation</param-name><!-- Spring环境参数全局变量 -->
        <param-value>classpath:spring-context.xml</param-value>
    </context-param>

    <!-- listener 配置信息要在 Filter 和 Servlet 之前，初始化最快，销毁最慢 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> <!-- Spring监听器,根据 contextConfigLocation 变量加载配置文件 -->
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class> <!-- 防止Spring内存溢出监听器 -->
    </listener>
    <listener>
        <listener-class>org.neusoft.neubbs.controller.listener.ApplicationInitListener</listener-class><!-- Servlet Context 监听器 -->
    </listener>
    <listener>
        <listener-class>org.neusoft.neubbs.controller.listener.ClientListener</listener-class><!-- Session 监听器 -->
    </listener>

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class><!--Spring容器总控制器,将请求分发给Controller-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value><!-- SpringMVC 配置文件（设置DispatcherServlet） -->
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- 添加 Response Header Token 过滤器 -->
    <filter>
        <filter-name>AddResponseHeaderTokenFilter</filter-name>
        <filter-class>org.neusoft.neubbs.controller.filter.ApiFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddResponseHeaderTokenFilter</filter-name>
        <url-pattern>/api/*</url-pattern> <!--路径匹配，不会匹配到后缀型url（.jsp）【/*所有匹配，*.jsp后缀匹配，两者不可兼容 】-->
        <dispatcher>REQUEST</dispatcher><!-- 直接访问时调用，默认值 -->
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

</web-app>